html,body {
    font-family: 'Open Sans', sans-serif;
    background: #F0F2F4;
    }
.hero-body {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-shadow: 2px 2px 4px #222222;
    }
.mysocial { color: hsl(0, 0%, 100%);}
.mysocial:hover { color: hsl(0, 0%, 71%) }
.postsocial { color: #aaaaaa;}
.postsocial:hover { color: #222222 }
.danger { background:rgba(200, 0, 0, 0.2);}
.info { background:rgba(0, 0, 200, 0.2);}
