{{ define "main" }}

{{ partial "urgent-banner.html" . }}

<div class="columns">
    <div class="column is-9">
        <div class="tile is-child box">
            <div class="content">
                {{ if eq .Type "post" }}
                    {{ partial "author-info.html" . }}
                {{ end }}
                {{ .Date.Format "January 2, 2006" }}
                &middot;
                Last updated {{ .Lastmod.Format "January 2, 2006" }}
                <hr>

                {{ .Content }}
            </div>
        </div>
    </div>
    <div class="column is-3">
        {{ partial "widgets.html" . }}
    </div>
</div>

{{ end }}
