<footer class="footer has-background-grey-darker has-text-white">
    <div class="content has-text-centered">
        <p>
            <span class="icon is-large"><a href="{{ .Site.Params.meetup_url }}" class="mysocial"><i class="fab fa-meetup fa-3x"></i></a></span>&nbsp;&nbsp;
            <span class="icon is-large"><a href="{{ .Site.Params.twitter_url }}" class="mysocial"><i class="fab fa-twitter fa-3x"></i></a></span>&nbsp;&nbsp;
            <span class="icon is-large"><a href="{{ .Site.Params.slack_url }}" class="mysocial"><i class="fab fa-slack fa-3x"></i></a></span>&nbsp;&nbsp;
            <span class="icon is-large"><a href="{{ .Site.Params.github_url }}" class="mysocial"><i class="fab fa-github fa-3x"></i></a></span>&nbsp;&nbsp;
            <br><br>
            {{ .Site.Copyright }}
            {{ with .OutputFormats.Get "RSS" }}
            - <span class="icon is-small"><a href="{{ .RelPermalink }}" class="mysocial"><i class="fas fa-rss-square fa"></i></a></span>
            <a href="{{ .RelPermalink }}" class="mysocial">RSS</a>
            {{ end }}
            - Theme by <a href="https://jeffprod.com" class="mysocial">JeffProd.com</a>
            - <a class="mysocial" href="{{ "about" | relURL }}">About</a>

        </p>
    </div>
    <div class="content has-text-centered has-text-grey-light is-size-7">
        <p>
            <em>site updated {{ now.Format "2006-01-02 15:04" }}</em>
        </p>
    </div>
</footer>

<script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
{{ template "_internal/google_analytics.html" . }}
</body>
</html>
