<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "en" }}">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ .Site.Title }} {{ with .Title }} | {{ . }}{{ end }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" />
    <link rel="stylesheet" href="{{ "css/blog.css" | absURL }}" />
    <script type="text/javascript" src="{{ "js/nav.js" | absURL }}"></script>
</head>
<body>

    <!-- nav -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ .Site.BaseURL | absURL }}">
                <img src="{{ "img/jolly-roger.png" | absURL }}">
            </a>
            <a class="navbar-item" href="{{ .Site.BaseURL | absURL }}">Home</a>
        
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>        
        
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
            </div>
            
            <div class="navbar-end">
                <a class="navbar-item" href="{{ "/resources" | absURL }}">Resources</a>
                <a class="navbar-item" href="{{ .Site.Params.meetup_url }}">Meetup</a>
                <a class="navbar-item" href="{{ "/about" | absURL }}">About</a>
            </div>
        </div>
    </nav>
    <!-- /nav -->

    <!-- hero -->
    <section class="hero is-info is-medium">
        {{ $bgimg := .Page.Params.header_image | default .Site.Params.header_image }}
        <div class="hero-body" style="background-image: url({{ $bgimg | absURL }});">
            <div class="container has-text-centered">
                <br>
                <h1 class="title is-size-1">
                    {{ if eq .Type "tags" }}
                        #{{ .Title }}
                    {{ else if eq .Type "archives" }}
                        Archive {{ .Title }}
                    {{ else }}
                        {{ .Title }}
                    {{ end }}
                </h1>
                {{ if eq .Type "article" }}
                    {{ .Date.Format "January 2, 2006" }} &middot;&nbsp;{{ .ReadingTime }} min read
                {{ end }}
            </div>
        </div>
    </section>
