{{ if and (.Site.Params.display_urgent | default false) (.Page.Params.display_urgent | default true) }}
<div class="columns">
    <div class="column is-12">
        <div class="tile is-child box info">
            <div class="content">
                    <article class="media">
                        <div class="media-content">
                            <div class="content">
                                <p class="title is-4"><a href="{{ .Site.Params.urgent_url }}">{{ .Site.Params.urgent_link_title }}</a></p>
                                <p>
                                    <strong>Great news everyone!
                                    The group is making the switch to 
                                    <a href="{{ .Site.Params.urgent_url }}">Java</a>!</strong>
                                </p>
                                <div>
                                    <a href="{{ .Site.Params.urgent_url }}"><img width="50" src="/img/java/java-logo-with-text-150.png"></a>
                                    <a href="{{ .Site.Params.urgent_url }}"><img width="50" src="/img/java/java-duke-120.png"></a>
                                    <a href="{{ .Site.Params.urgent_url }}"><img width="50" src="/img/java/python-forbidden-150.png"></a>
                                </div>
                                <p><a href="{{ .Site.Params.urgent_url }}">Additional details and links here.</a></p>
                            </div>
                        </div>
                    </article>
            </div>
        </div>
    </div>
</div>
{{ end }}