{{ if .Site.Params.display_urgent | default false}}
{{ if .Page.Params.display_urgent | default true }}
<div class="columns">
    <div class="column is-12">
        <div class="tile is-child box danger">
            <div class="content">
                    <article class="media">
                        <div class="media-content">
                            <div class="content">
                                <p class="title is-4"><a href="{{ .Site.Params.urgent_link}}">{{ .Site.Params.urgent_link_title }}</a></p>
                                <p>edX is changing features available to students auditing classes!<br/>
                                <em>You must sign up for all courses by end of Sunday to have access to Problem Sets.</em></p>
                                <p><a href="{{ .Site.Params.urgent_link}}">Additional details and links here.</a></p>
                            </div>
                        </div>
                    </article>
            </div>
        </div>
    </div>
</div>
{{ end }}
{{ end }}